<div class="colaboradores content background_content" id="colaboradores">
			
			<img class="center_img" src="img/Jeisson.png" alt="JCJR">

			<h2>JEISSON CAMILO JOSE ROMERO</h2>

			<p> Amante a la música sin importar el genero percusionista empírico, tecnologo en análisis y  desarrollo de sistemas de información, apasionado del código y la tecnología, con muchas ganas de aprender y culminar mis estudios profesionales.</p>

            <img class="center_img" src="img/Andres.png" alt="AMTR">

			<h2>ANDRES MAURICIO TRIANA</h2>

			<p> Analista de información con destacada experiencia en el manejo de bases de datos para construcción de reportes gerenciales, indicadores de avance y seguimientos continuos de información.</p>
			<p> Fortalezas para interpretar, analizar y diagnosticar avances de procesos, así como para diseñar e implementar planes operativos, orientados a resultados y a la toma de decisiones oportunas. Capacidad de liderar, entrenar, dar coaching y fomentar el trabajo en equipo para el logro de resultados</p>


            <img class="center_img" src="img/Magda.png" alt="MLD">

			<h2>MAGDA LISETHE DUQUE</h2>



            <h2>julian garcia niño</h2> 

                     <p> Analista en una clinica renal en manejo de bases de datos en sql capacitador y administrador de base de datos manejo de cueris y de sentencias. </p> 


</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">	
</div>