<div class="conceptos content background_content" id="conceptos">
			<p>Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.Los conceptos.
 			</p>

</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">
</div>