<div class="conceptos content background_content" id="conceptos">
			

<h2>Conceptos de la seguridad informática</h2>
<h2>Seguridad organizacional:</h2>

<p>Dentro de este, se establece el marco formal de seguridad que debe sustentar la corporación, incluyendo servicios o contrataciones externas a la infraestructura de seguridad, Integrando el recurso humano con la tecnología, denotando responsabilidades y actividades complementarias como respuesta ante situaciones anómalas a la seguridad.</P>

<h2>Seguridad lógica:</h2>

<p>DTrata de establecer e integrar los mecanismos y procedimientos, que permitan monitorear el acceso a los activos de información, que incluyen los procedimientos de administración de usuarios, definición de responsabilidades, perfiles de seguridad, control de acceso a las aplicaciones y documentación sobre la gestión de soporte en sistemas, que van desde el control de cambios en la configuración de los equipos, manejo de incidentes, selección y aceptación de sistemas, hasta el control de software malicioso.</P>

<h2>Seguridad física:</h2>

<p>Identifica los límites mínimos que se deben cumplir en cuanto a perímetros de seguridad, de forma que se puedan establecer controles en el manejo de equipos, transferencia de información y control de los accesos a las distintas •reas con base en la importancia de los activos.</P>

<h2>Seguridad legal:</h2>

<p>Integra los requerimientos de seguridad que deben cumplir todos los empleados y usuarios de la red institucional bajo la reglamentación de la normativa interna de políticas y manuales de procedimientos de la Corporación en cuanto al recurso humano, sanciones aplicables ante faltas cometidas, así como cuestiones relacionadas con la legislación del país y contrataciones externas.</P>


<h2>Normas ISO sobre gestión de seguridad de la información</h2>

<p>Las normas ISO son normas o estándares de seguridad establecidas por la Organización Internacional para la Estandarización (ISO) y la Comisión Electrotécnica Internacional (IEC) que se encargan de establecer estándares y guías relacionados con sistemas de gestión y aplicables a cualquier tipo de organización internacionales y mundiales, con el propósito de facilitar el comercio, facilitar el intercambio de información y contribuir a la transferencia de tecnologías.</P>

<p>En concreto la familia de normas ISO/IEC 27000 son un conjunto de estándares de seguridad (desarrollados o en fase de desarrollo) que proporciona un marco para la gestión de la seguridad.</P></P>

<p>Contiene las mejores prácticas recomendadas en Seguridad de la información para desarrollar, implementar y mantener especificaciones para los Sistemas de Gestión de la Seguridad de la Información (SGSI) utilizable por cualquier tipo de organización, pública o privada, grande o pequeña.</P>

<br>

<table>
  <tr>
    <th scope="col">Norma</th>
    <th scope="col">Descripción</th>
  </tr>
 
  <tr>
    <td>ISO/IEC 27000</td>
    <td>Vocabulario estándar para el SGSI para todas las normas de la familia.. Se encuentra en desarrollo actualmente.</td>

  </tr>
 
  <tr>
    <td>ISO/IEC 27001</td>
    <td>Certificación que deben obtener las organizaciones. Norma que especifica los requisitos para la implantación del SGSI. Es la norma más importante de la familia. Adopta un enfoque de gestión de riesgos y promueve la mejora continua de los procesos. Fue publicada como estándar internacional en octubre de 2005.</td>

  </tr>
 
  <tr>
    <td>ISO/IEC 27002</td>
    <td>Information technology - Security techniques - Code of practice for information security management. Previamente BS 7799 Parte 1 y la norma ISO/IEC 17799. Es un código de buenas prácticas para la gestión de seguridad de la información. Fue publicada en julio de 2005 como ISO 17799:2005 y recibió su nombre oficial ISO/IEC 27002:2005 el 1 de julio de 2007.</td>
  </tr>
 
<tr>
    <td>IISO/IEC 27003</td>
    <td>Directrices para la implementación de un SGSI. Es el soporte de la norma ISO/IEC 27001. Publicada el 1 de febrero del 2010, No está certificada actualmente.</td>
  </tr>

<tr>
    <td>ISO/IEC 27004</td>
    <td>Métricas para la gestión de seguridad de la información. Es la que proporciona recomendaciones de quién, cuándo y cómo realizar mediciones de seguridad de la información. Publicada el 7 de diciembre del 2009, no se encuentra traducida al español actualmente.</td>
  </tr>

  <tr>
    <td>ISO/IEC 27005</td>
    <td>Normativa dedicada exclusivamente a la gestión de riesgos en seguridad de la información. Proporciona recomendaciones y lineamientos de métodos y técnicas de evaluación de riesgos de Seguridad en la Información, en soporte del proceso de gestión de riesgos de la norma ISO/IEC 27001. Es la más relacionada a la actual British Standar BS 7799 parte 3. Publicada en junio de 2008.</td>
  </tr>

<tr>
    <td>ISO/IEC 27006</td>
    <td>Requisitos para la acreditación de las organizaciones que proporcionan la certificación de los sistemas de gestión de la seguridad de la información. Esta norma especifica requisitos para la certificación de SGSI y es usada en conjunto con la norma 17021-1, la norma genérica de acreditación.</td>
  </tr>

  <tr>
    <td>ISO/IEC 27007</td>
    <td>Guía para auditar al SGSI. Se encuentra en preparación.</td>
  </tr>

  <tr>
    <td>ISO/IEC 27799:2008</td>
    <td>Guía para implementar ISO/IEC 27002 en la industria de la salud.</td>
  </tr>

</table>

<br>

<p>La seguridad de la información, según la ISO 27001, se basa en la preservación de su confidencialidad, integridad y disponibilidad, así como la de los sistemas aplicados para su tratamiento.</P>


<h2>Respaldo de información</h2>


<p>La información constituye el activo más importante de las empresas, pudiendo verse afectada por muchos factores tales como hurtos, incendios, fallas de
disco, virus y otros. Desde el punto de vista de la empresa, uno de los problemas más importantes que debe resolver es la protección permanente de su información crítica.</P>


<p>La medida más eficiente para la protección de los datos es determinar una buena política de copias de seguridad o Backus. Este debe incluir copias de seguridad completa (los datos son almacenados en su totalidad la primera vez) y copias de seguridad incrementales (solo se copian los ficheros creados o modificados desde la última copia de seguridad). Es vital para las empresas elaborar un plan de copia de seguridad en función del volumen de información generada y la cantidad de equipos críticos.</P>

<p>Un buen sistema de respaldo debe contar con ciertas características indispensables:</P>

	 			<ul>
 				<li>Continuo: El respaldo de datos debe ser completamente automático y continuo. Debe funcionar de forma transparente, sin intervenir en las tareas que se encuentra realizando el usuario.</li>
 				<li>Seguro: Muchos softwares de respaldo incluyen cifrado de datos, lo cual debe ser hecho localmente en el equipo antes del envío de la información. </li>
 				<li>Remoto: Los datos deben quedar alojados en dependencias alejadas de la empresa.</li>
 			</ul>

<h2>Protección contra virus</h2>

<p>Los virus son uno de los medios más tradicionales de ataque a los sistemas y a la información que sostienen. Para poder evitar su contagio se deben vigilar los equipos y los medios de acceso a ellos, principalmente la red.</P>

<h2>Control del software instalado</h2>

<p>Tener instalado en la máquina únicamente el software necesario reduce riesgos. Asimismo tener controlado el software asegura la calidad de la procedencia del mismo (el software obtenido de forma ilegal o sin garantías aumenta los riesgos). En todo caso un inventario de software proporciona un método correcto de asegurar la reinstalación en caso de desastre. El software con métodos de instalación rápidos facilita también la reinstalación en caso de contingencia.</P>

<h2>Control de la red</h2>

<p>Los puntos de entrada en la red son generalmente el correo, las páginas web y la entrada de ficheros desde discos, o de ordenadores ajenos, como portátiles.</P>

<p>Mantener al máximo el número de recursos de red solo en modo lectura, impide que ordenadores infectados propaguen virus. En el mismo sentido se pueden reducir los permisos de los usuarios al mínimo.</P>

<p>Se pueden centralizar los datos de forma que detectores de virus en modo batch puedan trabajar durante el tiempo inactivo de las máquinas.
Controlar el acceso a Internet puede detectar, en fases de recuperación, cómo se ha introducido el virus.</P>

<h2>Protección física de acceso a las redes</h2>

<p>Independientemente de las medidas que se adopten para proteger los equipos de una red de área local y el software que reside en ellos, se deben tomar medidas que impidan que usuarios no autorizados puedan acceder. Las medidas habituales dependen del medio físico a proteger.</P>

<p>A continuación se enumeran algunos de los métodos, sin entrar al tema de la protección de la red frente a ataques o intentos de intrusión desde redes externas, tales como Internet.</P>


<h2>Redes cableadas</h2>

<p>Las rosetas de conexión de los edificios deben estar protegidas y vigiladas. Una medida básica es evitar tener puntos de red conectados a los switches.Aun así siempre puede ser sustituido un equipo por otro no autorizado con lo que hacen falta medidas adicionales: norma de acceso 802.1x, listas de control de acceso por MAC addresses, servidores de DHCP por asignación reservada, etc.</P>

<h2>Redes inalámbricas</h2>

<p>En este caso el control físico se hace más difícil, si bien se pueden tomar medidas de contención de la emisión electromagnética para circunscribirla a aquellos lugares que consideremos apropiados y seguros. Además se consideran medidas de calidad el uso del cifrado (WPA, WPA v.2, uso de certificados digitales, etc.), contraseñas compartidas y, también en este caso, los filtros de direcciones MAC, son varias de las medidas habituales que cuando se aplican conjuntamente aumentan la seguridad de forma considerable frente al uso de un único método.</P>



</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">
</div>