<div class="consecuencia content background_content" id="consecuencia">
			<p>Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.Los consecuencia.
 			</p>

</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">	
</div>