<div class="content" id="inicio">
			
<h2>Objetivo</h2>

<p>Crear una OVI (Objeto Virtual de Información) que contenga la información necesaria para la gestión de proyectos colaborativos de diseño web por medio de herramientas como GIT, GITHUB, HTML5 y CSS3, con la explicación,funcionabilidad y uso práctico de la seguridad informática, sus principales caracteristicas y usos en las empresas</p>

<h2>Objetivo especifico 1</h2>

<p>Identificar los fundamentos básicos de la seguridad informática</p>

<h2>Objetivo especifico 2</h2>

<p>Normas basicas de la seguridad informativa</p>

<h2>Objetivo especifico 3</h2>

<p>Impacto de no tener un buen sistema de seguridad informatica</p>
</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/seguridad-informatica-online.png" alt="seguridad-informatica-online">
</div>