<div class="multimedia content background_content" id="multimedia">
		

			<br>

			<h2>Información de seguridad informatica</h2>

			<p>Tecnología capacitate para el empleo - Curso Técnico en seguridad informática parte 1</p>

			<iframe width="640" height="360" src="https://www.youtube.com/embed/eQR0kYYgrGE" frameborder="0" gesture="media" allowfullscreen></iframe>

			<p>MicrosoftColombia - 7 tips de seguridad informática</p>

			<iframe width="640" height="360" src="https://www.youtube.com/embed/-lRBNtC_A7Q" frameborder="0" gesture="media" allowfullscreen></iframe>

			<p>Dait - Seguridad informática - introducción a la seguridad informatica</p>

			<iframe width="640" height="360" src="https://www.youtube.com/embed/06UrRhf8V3Q" frameborder="0" gesture="media" allowfullscreen></iframe>

			<p>Néstor Adrián Aguirre- Conceptos Básicos sobre Seguridad Informática</p>

			<iframe width="640" height="360" src="https://www.youtube.com/embed/JXDUKotmsWQ" frameborder="0" gesture="media" allowfullscreen></iframe>

			<p>Unocero- Seguridad informática - #TipsNChips</p>

			<iframe width="640" height="360" src="https://www.youtube.com/embed/3B-_MVXPiOg" frameborder="0" gesture="media" allowfullscreen></iframe>


</div>
<div class="sidebar" id="sidebar">
	<a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<img class="center_img" src="img/SA3.png" alt="SA3">
		<img class="center_img" src="img/SA4.png" alt="SA4">
</div>