<div class="multimedia content background_content" id="multimedia">
			<p>En este link podemos ver el twitter de la prestigiosas universidad nacional abierta y a distancia ingresa si quieres obtener mas informacion <iframe src="https://www.symbaloo.com/embed/ovi?" name="_symFrame" width="920px" height="600px" frameborder="0" noresize="noresize" allowTransparency="true"></iframe></p>

</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">
</div>