<div class="multimedia content background_content" id="multimedia">
			<p>Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.Los multimedia.
 			</p>

</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">	
</div>