<div class="referencias content background_content" id="referencias">
			<p>Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.Los referencias.
 			</p>

</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">	
</div>