<div class="referencias content background_content" id="referencias">
			<p>1.	http://recursostic.educacion.es/observatorio/web/en/software/software-general/1040-introduccion-a-la-seguridad-informatica?showall=1</p>
                        <p>2.   1.	http://descargas.pntic.mec.es/mentor/visitas/demoSeguridadInformatica/normas_iso_sobre_gestin_de_seguridad_de_la_informacin.html
	                                http://www.cvs.gov.co/jupgrade/images/stories/docs/Alertas/Politicas_de_Seguridad_Informatica_CVS_2011-.pdf
	                                https://www.taringa.net/posts/ciencia-educacion/19169620/Seguridad-Informatica.html</p>

</div>
<div class="sidebar" id="sidebar">
		<img class="center_img" src="img/TriangulodelaSeguridad.png" alt="Seguridad">	
</div>